<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapptfmodule20210211123426.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ed873cb3-9ca1-49a4-ba77-3405a6d50ab8/resourcegroups/funcabc/providers/Microsoft.Web/sites/FunctionAppTFMODULE20210211123426</ResourceId>
    <UserName>$FunctionAppTFMODULE20210211123426</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapptfmodule20210211123426.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>